language: python
python:
# Temporarily disable support for Python 3.
# - "3.2"
 - "2.7"
 - "2.6"
install:
 # Install requirements 
 - pip install nose
 - pip install mock
 - pip install unittest2
 - pip install httplib2
 # Install this project
 - pip install . --use-mirrors
# Command to run tests
script: nosetests 
